#*.json
*.pyc
*.tar
models/
data/
debug/
.env_secret_llmkeys

personalai_tmp/
tests/log
docs/legacy/notebooks/log/
notebooks/download_models/.env

experiments/qa/configuring_exp/weak/legacy

# experiments/qa/weak/results/**/tmp_answer_packs/
# experiments/qa/weak/results/**/answer_packs/
# experiments/qa/weak/results/**/judges_packs/
# experiments/qa/weak/results/**/tmp_judges_packs/
# experiments/qa/weak/results/**/metric_packs/
# experiments/qa/weak/results/**/log/
# experiments/qa/weak/results/**/aeval_cron.txt
# experiments/qa/weak/**/qacron_log.txt
# experiments/qa/weak/results/**/agen_cron.txt
# experiments/qa/results/**/llm_aeval_cron.txt
# experiments/qa/results/**/kg_reasoner_config
# experiments/qa/results/**/qa_config

# experiments/qa/weak/results/diaasq_legacy
experiments/legacy
# experiments/qa/weak/legacy

create_local_db/
archives/
__pycache__/
pai_venv/
docs/_build
docs/build
docs/log
tmp/
tests/volumes
docs/build

experiments/qa/configure/weak/legacy
experiments/qa/2025-03-11 18-25-04.mp4
experiments/qa/instruction.mp4
.secrets
experiments/qa/guide/
experiments/qa_kg/

experiments/qa/evaluate/metrics/qaeval_db/qaeval_judge_cache.pkl
experiments/qa/cron_run_experiments.txt
experiments/qa/runexperiment_log.txt
experiments/qa/configure/initdir_log.txt
experiments/qa/configure/genconfigs_log.txt
experiments/qa/crontab_log.txt
experiments/qa/results

notebooks/kg_building/cron_buildgraph.txt

experiments/qa/init_env/env_settings