ipykernal
haystack-ai
opensearch-haystack
elasticsearch-haystack
weaviate-haystack
torch #--index-url https://download.pytorch.org/whl/cu126 # (NVIDIA GeForce GTX 1050 Ti)
chromadb
sentence_transformers
pysqlite3
#pymilvus
polyglot
icu
PyICU
pycld2
aerospike
kuzu
neo4j
redis
pymongo
mysql-connector-python
psycopg2
gigachat
ollama
ranx
langdetect
faiss-cpu
langchain_community
torchmetrics
evaluate
levenshtein
nltk
protobuf
qdrant-client
